@page
@model PrivacyModel
@{
    ViewData["Title"] = "Soukromí";
}
<h1>@ViewData["Title"]</h1>

<p>
    Tato stránka nesbírá žádné informace o svých uživatelých a ani nepoužívá žádné analytické nástroje.
    Stejně by se měli chovat všichni, kdo poskytují informace volně šiřitelné na internetu.
</p>
<p>
    Licence pro tento web je CC-BY <img src="~/images/license.png" />
</p>
